{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gregory Mukite</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light container my-nav">
      <div class="container-fluid">
        <a class="text-decoration-none h1 text-light" href="#home">Gregory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class=" active text-light navigation-link footer-link p-3 h3" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class=" active text-light navigation-link footer-link p-3 h3" aria-current="page" href="#aboutme">AboutMe</a>
          </li>
          <li class="nav-item">
            <a class=" active text-light navigation-link footer-link p-3 h3" aria-current="page" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class=" active text-light navigation-link footer-link p-3 h3" aria-current="page" href="#projects">Projects</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="body">
    <div class="container mt-5" id="home">
      <div class="row">
        <aside class="col-lg-7 mt-5">
          <div class="colz-icon">
            <ul>
              <li>
                <a href="https://www.facebook.com/profile.php?id=100073303361817">
                  <i class="fa fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/gregorymukite/">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCvskwxv3TYrNuoqCIz041kQ">
                  <i class="fa fa-youtube-square"></i>
                </a>
              </li>
              
            </ul>
          </div>
          <p class="intro">Hi am <span class="gregg">Gregory Mukite</span></p>
          <p class="intro-txt">
            Am a skilled Website Designer with Experience in codding
                visually appealing and user friendy websites
          </p>
          <div class="container">
            
              <a class="btn mr-3" 
              style="
                background-color: #ff5823; 
                font-weight: bold; font-family: sans-serif; 
                font-size: 1.4rem; color: #fff;
                margin-right: 4rem;
                " href="">My Resume</a>
            
            
              <a class="btn ml-5" 
              style="
              background-color: #ff5823; 
              font-weight: bold; font-family: sans-serif; 
              font-size: 1.4rem; color: #fff;
              "  href="">Hire Me</a>
            
          </div>
        </aside>
        <!-- col.// -->
        <aside class="col-lg-5">
          <div class="Profile-picture-background"></div>
        </aside>
        <!-- col.// -->
      </div>
    </div>
  </div>
    <div class="bottom-div">
      
    </div>
    <div>
      
      <div class="about-me-div" id="aboutme">
        <div class="container mt-5">
          <div class="row">
            <center>
              <h2 class="head-title">About Me</h2>
            </center>
            <aside class="col-lg-5">
              <img class="about-me-img" src="{%static 'images/IMG.jpg'%}" alt="">
            </aside>
            <!-- col.// -->
            <aside class="col-lg-7">
              <p>{{aboutme.paragraph1}} </p>
              <p>{{aboutme.paragraph2}} </p>
              <p>{{aboutme.paragraph3}} </p>

              <div class="container">
            
                <a class="btn mr-3" 
                style="
                  background-color: rgb(8, 8, 58); 
                  font-weight: bold; font-family: sans-serif; 
                  font-size: 1.4rem; color: #fff;
                  margin-right: 4rem;
                  " href="">My Resume</a>
              
              
                <a class="btn ml-5" 
                style="
                background-color: #ff5823; 
                font-weight: bold; font-family: sans-serif; 
                font-size: 1.4rem; color: #fff;
                "  href="">Hire Me</a>
              
            </div>
            </aside>
            <!-- col.// -->
          </div>
        </div>
      </div>
    </div>
    <div class="body">
<div class="div11">
      <center>
          <h2 class="resume-header">Resume</h2>
      </center>
      <div class="container mb-3" id="education" >
          <table class="table">
              <h2 class="head-title" >Education Background</h2>
              <thead>
                  <tr>
                      
                      <th scope="col">Institution</th>
                      <th scope="col">Level of Study</th>
                      <th scope="col">Qualification</th>
                      <th scope="col">Date</th>
                     
                  </tr>
              </thead>
              <tbody>
                {% for institution in education %}
                  <tr>
                      
                      <td class="w-25 p-1">{{ institution.institution}}</td>
                      <td class="w-25 p-1">{{institution.study_level}}</td>
                      <td class="w-25 p-1">{{ institution.qualification }}</td>
                      <th class="w-25 p-1">From: {{institution.start_date}} To: {{institution.end_date}}</th>
                      
                  </tr>
                  
                  
                {% endfor %}
              </tbody>
          </table>
      </div>
  
      <div class="container sections-wrapper py-5" id="projects">
          <div class="row">
              <div class="primary col-lg-8 col-12">
                <center><h2 class="heading">Projects</h2></center>
                 <section class="latest section container">
                      <div class="section-inner shadow-sm rounded">
                          <h2 class="heading">Latest Projects</h2>
                          <div class="content">                        
                              <div class="item featured text-center">

                                  <div class="featured-image has-ribbon">
                                      <a href="{{newprojects.github_link}}" target="_blank">
                                      <img class="img-fluid project-image rounded shadow-sm" width="200" height="200" src="{{newprojects.project_image.url}}" alt="project name" />
                                      </a>
                                      <div class="ribbon">
                                          <div class="text">New</div>
                                      </div>
                                  </div>
                                  
                                  <h3 class="title mb-3"><a href="{{newprojects.github_link}}" target="_blank">{{newprojects.project_name}}</a></h3>
                                      
                                  <div class="desc text-start">                                    
                                      <p>{{newprojects.project_description}} </p>
                                  </div><!--//desc-->         
                                  <a class="btn btn-cta-secondary btn-primary" href="{{newprojects.github_link}}" target="_blank"><i class="fa fa-thumbs-up"></i> View Project on GitHub</a>                 
                              </div><!--//item-->
                              <hr class="divider" />
                              {% for projects in projects %}
                              <div class="item row">
                                  <a class="col-md-4 col-12" href="{{projects.github_link}}" target="_blank">
                                  <img class="img-fluid project-image rounded shadow-sm" src="{{projects.project_image.url}}" alt="project name" />
                                  </a>
                                  <div class="desc col-md-8 col-12">
                                      <h3 class="title"><a href="{{projects.github_link}}" target="_blank"> {{projects.project_name}} </a></h3>
                                      <p class="mb-2">{{projects.project_description}}</p>
                                      <a class="btn btn-cta-secondary btn-primary" href="{{projects.github_link}}" target="_blank"><i class="fa fa-thumbs-up"></i> View Project on GitHub</a> 
                                  </div><!--//desc-->                          
                              </div><!--//item-->
                              {%endfor%}

                              
                          </div><!--//content-->  
                      </div><!--//section-inner-->                
                  </section><!--//section-->
                  
                  <section class="projects section">
                      <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Projects Coming Up..</h2>
                        {%for upcomingprojects in upcomingprojects%}
                          
                          <div class="content">
                              <div class="item">
                                  <h3 class="title"><a href="{{upcomingprojects.github_link}}" target="_blank">{{upcomingprojects.project_name}}</a> <span class="badge badge-theme"></span></h3>
                                  <p class="summary">{{upcomingprojects.project_description}}</p>
                                  <p><a class="more-link" href="{{upcomingprojects.github_link}}" target="_blank"><i class="fa fa-external-link-alt"></i>See progress</a></p>
                              </div><!--//item-->
                              
                              <a class="btn btn-cta-secondary" href="{{upcomingprojects.github_link}}">More on GitHub <i class="fa fa-chevron-right pt-1"></i></a>
                              
                          </div><!--//content--> 
                          {%endfor%} 
                      </div><!--//section-inner-->                 
                  </section><!--//section-->
                  
                  <section class="experience section" id="work">
                      <div class="section-inner shadow-sm rounded">
                          <h2 class="heading">Work Experience</h2>
                          <div class="content">
  
                              <div class="item">
                                  <h3 class="title">Android Developer - <span class="place"><a href="">Machini Technologies</a></span> <span class="year">(2022 January - 2022 April)</span></h3>
                                  <p>I joined Machini Technologies as a volunteer Android developer in the January 2022. I used to work remotely collaborating with my teammates whom I met working there. My primary task was coordinating with team members to create client apps in a coordinated and timely manner</p>
                              </div><!--//item-->
                              
                          </div><!--//content-->  
                      </div><!--//section-inner-->                 
                  </section><!--//section-->
                  
  
              </div><!--//primary-->
              <div class="secondary col-lg-4 col-12">
                   <aside class="info aside section">
                      <div class="section-inner shadow-sm rounded">
                          <h2 class="heading sr-only">Basic Information</h2>
                          <div class="content">
                              <ul class="list-unstyled">
                                  <li><i class="fa fa-map-marker-alt"></i><span class="sr-only">Location:</span>Kitale, Kenya</li>
                                  <li><i class="fa fa-envelope"></i><span class="sr-only">Email:</span><a href="">shangugregory@gmail.com</a></li>
                                  <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="">https://github.com/gregorymukite</a></li>
                              </ul>
                          </div><!--//content-->  
                      </div><!--//section-inner-->                 
                  </aside><!--//aside-->
                  
                  <aside class="skills aside section">
                      <div class="section-inner shadow-sm rounded">
                          <h2 class="heading">Skills</h2>
                          <div class="content">
              
                              
                              <div class="skillset">
                                 {% for skills in skills %}
                                  <div class="item">
                                      <h3 class="level-title">{{ skills.programing_language }}<span class="level-label"><i class="fa fa-info-circle"></i></span></h3>
                                      <div class="level-bar progress">
                                          <div class="progress-bar level-bar-inner" role="progressbar" style="width: {{skills.learning_progress}}%" aria-valuenow="86"  aria-valuemin="0" aria-valuemax="96"></div>
                                      </div><!--//level-bar-->                                  
                                  </div><!--//item-->
                                  
                                  {% endfor %}
                                  
                                  <p><a class="more-link" href="https://github.com/shangugregory"><i class="fa fa-external-link-alt"></i>More on GitHub</a></p> 
                              </div>              
                          </div><!--//content-->  
                      </div><!--//section-inner-->                 
                  </aside><!--//section-->
  
                  <aside class="education aside section">
                      <div class="section-inner shadow-sm rounded">
                          <h2 class="heading">Tools</h2>
                          <div class="content">
                              <div class="item">                      
                                  <h5 class="title">GitHub</h5>
                              </div><!--//item-->
                              <div class="item">
                                  <h3 class="title">GitLab</h3>
                              </div><!--//item-->
                              <div class="item">
                                  <h3 class="title">BitBucket</h3>
                              </div><!--//item-->
                              <div class="item">
                                  <h3 class="title">VS Code</h3>
                              </div>
                              <div class="item">
                                <h3 class="title">Post Man</h3>
                            </div>
                            <div class="item">
                              <h3 class="title">Pycharm</h3>
                          </div>
                              <!--//item-->
                          </div><!--//content-->
                      </div><!--//section-inner-->
                  </aside><!--//section-->
                 
  
                              
                  <aside class="languages aside section">
                      <div class="section-inner shadow-sm rounded">
                          <h2 class="heading">Languages</h2>
                          <div class="content">
                              <ul class="list-unstyled">
                                  <li class="item">
                                      <span class="title"><strong>Swahili:</strong></span>
                                      <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                  </li><!--//item-->
                                  <li class="item">
                                      <span class="title"><strong>English:</strong></span>
                                      <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                  </li><!--//item-->
                              </ul>
                          </div><!--//content-->
                      </div><!--//section-inner-->
                  </aside><!--//section-->
                  <aside class="education aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Hobies</h2>
                        <div class="content">
                            <div class="item">                      
                                <h5 class="title">Listening To Music</h5>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Watching Doccumentaries</h3>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Listening to Motivational speakers</h3>
                            </div><!--//item-->
                            <div class="item">
                              <h3 class="title">Cooking</h3>
                          </div>
                            
                          
                            <!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside>  
                  
                
              </div><!--//secondary-->    
          </div><!--//row-->
      </div>

      

  
  <div class="container bg-light div-footer">
    <div class="row">
      <div class="col-sm div-footer-link">
        <h2>Top Refrences</h2>
        <a class="footer-link text-primary"  href="#home">Home</a>
        <a class="footer-link text-primary" href="#aboutme">About Me</a>
        <a class="footer-link text-primary" href="#education">Education</a>
        <a class="footer-link text-primary" href="#projects">Projects</a>
        <a class="footer-link text-primary" href="#work">Work Experience</a>
        
      </div>
      <div class="col-sm div-footer-link">
        <h2>Contacts</h2>
        <div class="colz-icon footer-icons">
          <ul>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100073303361817">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus-square"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/gregorymukite/">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCvskwxv3TYrNuoqCIz041kQ">
                <i class="fa fa-youtube-square"></i>
              </a>
            </li>
            
          </ul>
        </div>
        <p class="text-center">Gregory Mukite</p>
        <p class="text-center">+254740620167</p>
        <p class="text-center">shangugregory@gmail.com</p>
      </div>
      
    </div>
  </div>
</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

  </div>
  </body>
</html>
